In [11]:
import pandas as pd
import os
import glob
import h5py

## Set up directory

In [6]:
ROOT_DIR = os.getcwd()
FILE_DIR = os.path.join(ROOT_DIR, 'sample_data')
FILE_DIR

'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data'

In [8]:
file_list = glob.glob(FILE_DIR + "/*.h5") # Include slash or it will search in the wrong directory!!
print('file_list {}'.format(file_list))

file_list ['C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAAAW128F429D538.h5', 'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAABD128F429CF47.h5', 'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAADZ128F9348C2E.h5', 'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAAEF128F4273421.h5', 'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAAFD128F92F423A.h5', 'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAAMO128F1481E7F.h5', 'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAAMQ128F1460CD3.h5', 'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAAPK128E0786D96.h5', 'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAARJ128F9320760.h5', 'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAAVG12903CFA543.h5', 'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAAVO128F93133D4.h5']

In [9]:
file_list[0]

'C:\\Users\\Nicholas\\Documents\\Northwestern\\MSDS495\\MSDS495-Capstone\\sample_data\\TRAAAAW128F429D538.h5'

In [12]:
# Open the HDF5 file
file = h5py.File(file_list[0], 'r')

In [14]:
file

In [17]:
# See the data sets
df = pd.DataFrame(file)
df

             0
0     analysis
1     metadata
2  musicbrainz

## Analysis data set

In [49]:
dataset = file['analysis']

In [50]:
df_columns = pd.DataFrame(dataset)
df_columns

                             0
0              bars_confidence
1                   bars_start
2             beats_confidence
3                  beats_start
4          sections_confidence
5               sections_start
6          segments_confidence
7        segments_loudness_max
8   segments_loudness_max_time
9      segments_loudness_start
10            segments_pitches
11              segments_start
12             segments_timbre
13                       songs
14           tatums_confidence
15                tatums_start

In [43]:
# Read the data from the dataset
data = dataset[('bars_confidence')]

In [44]:
# Convert the data to a Pandas DataFrame
df = pd.DataFrame(data)
df

        0
0   0.643
1   0.746
2   0.722
3   0.095
4   0.091
..    ...
78  0.000
79  0.000
80  0.000
81  0.000
82  0.000

[83 rows x 1 columns]